#Navbar{
    height: 100px;
    background-color: #f6eee0
}

.nav-link{
    color: rgb(0, 0, 0);
    margin-top: 13px;
    font-size: 18px;
    
}

.navbar-brand{
    font-size: 30px;
    margin-bottom: 3px;
}

.prolijo-button {
    padding: 7px 5px 0px 5px; /* Ajusta el padding según tus preferencias */
    border-radius: 5px; /* Ajusta el radio del borde según tus preferencias */
    cursor: pointer;
    font-size: 20px; /* Ajusta el tamaño de fuente según tus preferencias */
    background-color: transparent;
    color: rgb(135, 216, 78);
    transition: transform 0.3s ease; /* Agrega una transición suave a la propiedad transform */
}

.prolijo-button:hover {
    transform: rotate(180deg); /* Gira 180 grados al pasar el cursor */
}

.button-icon-car{
    background-color: transparent;
    font-size: 35px;
    margin: 50px 0px 0px 10px;
    padding: 0px;
    border: none;
    color: rgb(0, 0, 0);
    
}


.container-car{
    margin-top: 0px;
}

.final{
    height: 50px;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    border-radius: 400px; /* Ajusta el valor según la cantidad de redondez deseada */
    overflow: hidden; /* Para asegurarte de que el border-radius se aplique correctamente */
}

.final:hover{
    background-color: transparent;
    box-shadow: 0 0 20px 10px rgba(41, 206, 138, 0.5); /* Cambia al color #29CE8A */
    transform: scale(1.1); /* Aumenta ligeramente el tamaño de la imagen */
    filter: brightness(1.6); /* Ajusta este valor para controlar la intensidad del brillo */
}


.button-icon-car {
    
    color: #080000;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 45px;
  }
  
  .button-icon-car {
    font-size: 30px;
  }
  
 
  .cart-count {
    background-color: #29CE8A;
    color: #fff;
    font-size: 12px;
    border-radius: 50%;
    padding: 2px 6px;
    position: absolute;
    top: -2px;
    right: -2px;
  }
  
  .button-icon-cora {
    position: relative;
  background: none;
  border: none;
  font-size: 30px;
  color: #070707; 
  cursor: pointer;
 margin-top: 12px;
  }

  .favorite-count {
    display: inline-block;
  background-color: #29CE8A;
  color: white;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 50%;
  position: absolute;
  top: -8px;
  right: -12px;
  }



.boton-login{
    background-color: white;
    color: black;
    height: 37px;
    border-radius: 5px;
    padding-top: 5px;
    margin-left: 8px;
   
}

.favorits-count-container{
    display: flex;
    flex-direction: row;
}

.btn-entrar{
    color: aliceblue;
    margin-top: 13px;
    font-size: 18px;
    margin-left: 5px;
}

.btn-admin{
    color: aliceblue;
    margin-top: 13px;
    font-size: 18px;
    margin: 0px 5px 0px 5px;
}

.link-admin{
    text-decoration: none;
    color: #29CE8A;
}

#form-control{
   width: 120px;
   border-radius: 5px;
   height: 37px;
   padding-left: 10px;
   appearance: none;
}
