.modo-oscuro .add-product-container{
    background-color: #353b57;
}

.modo-oscuro .h1-product{
    color: white;
}

.modo-oscuro .form-admin{
    background-color: #4c5270;
}

.modo-oscuro .label-form{
    color: white;
}
