.modo-oscuro .navbar-admin{
    background-color: #353b57;
}

.modo-oscuro .h1-admin{
    background-color: #353b57;
    
}
.modo-oscuro .p-admin{
    background-color: #353b57;
    
}
.modo-oscuro .menu-izq{
    background-color: #353b57;
    
}
.modo-oscuro .problema-admin{
    background-color: #353b57;
    
}
.modo-oscuro .button-mobile{
    background-color: #353b57;
    
}