.image-favo{
  height: 250px;
  width: 100%;
} 
.h2-favo{
    color: aliceblue;
    margin-top: 20px;
    font-weight: bold;
}

.h2-description{
  min-width: 100%;
  color: aliceblue;
}

.h2-price{
  padding-top: 10px;
  color: rgb(255, 251, 251); 
  font-weight: bold;
}



  .favorito-item {
    display: inline-flex;
    background-color: rgba(10, 126, 126, 0.74);
    width: 320px;
    height: 500px;
    border: 1px solid #ccc;
    padding: 5px;
    text-align: center;
    margin: 35px 20px 0px 70px;
    
}

  
.product-link {
  text-decoration: none;
}

.button-delete-fav{
  
position: absolute;
}


.home-link {
  display: block;
  margin-top: 40px;
  text-decoration: none;
  color: rgb(250, 249, 252); 
  background-color:  rgb(3, 121, 129); 
  padding: 5px 10px 10px 5px;
  font-size: 18px;
}

/* .container-fav{
  height: 500px;
}
 */