.image-favo{
    width: 50%; 
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  
}
.h2-favo{
    color: aliceblue;
    margin-top: 20px;
}

.favoritos-lista {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
  

  }
  
  .favorito-item {
    display: inline-block;
    width: calc(33.33% - 10px); 
    margin: 5px;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
 
  }
  
 
.product-link {
  text-decoration: none;
}


.home-link {
  display: block;
  margin-top: 20px;
  text-decoration: none;
  color: rgb(82, 26, 134); 
  background-color:  rgb(250, 190, 79); ;
  padding: 5px 10px 10px 5px;
  border-radius: 10px;
  font-size: 18px;
}

