.star-container {
    display: flex;
    align-items: center;
  }
  
  .star {
    font-size: 30px;
    color: gray;
    cursor: pointer;
    margin: 0.1em;
  }
  
  .star.filled {
    color: gold;
  }
  