#root {
  margin: 0 auto;
  text-align: center;
}
.App-container {
  text-align: center;
}

body{
  background-image: url('../src/Img/Screenshot_253.png');
  background-repeat: no-repeat;
  background-size: cover;
}