
#inputst{
  color: rgb(81, 81, 81);
  padding: 10px;
  border-color: rgb(5, 86, 10) !important; 
  border-color: transparent transparent rgb(101, 101, 101) transparent !important;
  border-width: 2px !important;
  border-style: solid;
  border-radius: 10px; /* Ajusta el valor de acuerdo a tus preferencias */
  padding: 21px !important
}

#buttonsearchBar{
  background-color: rgb(180, 180, 180);
  height: 37px;
  size: 0cqmin;
  margin-right: 7px !important;
}

#buttonsearchBar:hover{
  background-color: rgb(143, 143, 143);
  
}


