
.containerSearch{
    padding: 5px;
    border-radius: 5px;
    margin: 55px ;
    display: flex;
    align-items: center;
}
.containerSearch input {
    background-color: #948181;
    border: none;
    border-radius: 4px;
    padding: 17px;
    width: 100%;
    font-size: 18px;
    color: #eeecec;
    box-shadow: 0 2px 4px rgba(2, 2, 2, 0.1);
    transition: box-shadow 0.3s ease;
    background: linear-gradient(to left,rgb(255, 255, 255),rgb(255, 255, 255));
  }
  
.containerSearch input:focus {
    outline: none;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.6);
}


#inputSearch{
  height: 30px;
  color: rgb(81, 81, 81);
}

#buttonsearchBar{
  background-color: rgb(202, 247, 170);
  color: rgb(145, 140, 140);
  border: white solid 1px;
  height: 37px;
  padding-top: 8px;
}

#buttonsearchBar:hover{
  background-color: rgb(197, 255, 159);
}



